assets/data/outgoing/backup.sql
application/cache/temp
assets/img/captcha
assets/img/user
assets/img/banner
assets/img/icons
application/config/database.php
assets/data/pdf
.vscode/
*.zip
*.rar
# *.jpg
# *.jpeg
# *.png
# *.xlsx
node_modules
application/config/database.php
application/config/config.php
application/logs/*
application/cache/*
.env
application/config/license.json
